* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}
#viewScores{
  font-size: 150%;
  background-color: #13293d;
  color: white;
  border: none;
}
#viewScores:hover{
  color: rgb(177, 52, 2);
  cursor: pointer;
}
.mainHead {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  background: #13293d;
  color: #fff;
}
.container {
  display: block;
  flex: 1 1 0;
  justify-content: center;
}
.result {
  display: block;
  margin: 10px;
  font-size: 300%;
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  margin-top: 250px;
  color: dimgray;
  text-align: center;
}
.question {
  display: block;
  margin: 10px;
  font-size: 300%;
  display: flex;
  flex: 1 1 0;
  justify-content: center;
}
.info {
  display: none;
  text-align: center;
  font-size: 180%;
  margin: 10px;
  display: flex;
  flex: 1 1 0;
  justify-content: center;
}
.startButton {
  margin: 10px;
  position: fixed;
  left: 45%;
  background-color: #13293d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 15%;
}
.startButton:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-group {
  position: fixed;
  left: 45%;
}

.btn-group button {
  text-align: left;
  font-size: 25px;
  background-color: #13293d;
  border: 1px solid green;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  width: 200%;
  display: block;
  margin: 5px;
}

.btn-group button:not(:last-child) {
  border-bottom: none;
}

.btn-group button:hover {
  background-color: #2540db;
}
#p0 {
  display: block;
}
#p1 {
  display: none;
}
#p2 {
  display: none;
}
#p3 {
  display: none;
}
#p4 {
  display: none;
}
#p5 {
  display: none;
  text-align-last: center;
}
#p5 h1{
  font-size: 200%;
}
#p5 h3{
  font-size: 150%;
}
#p6{
  display: none;
  text-align-last: center;
}
#p6 h1{
  font-size: 200%;
}
#p6 button{
  font-size: 70%;
  border-radius: 25%;
  padding: 10px 10px;
}
#p6 button:hover{
  box-shadow: 5px 5px #888888;
  background-color: #a31f1f;
}
#p6 .btn-group{
  display: inline-flex;
}
#submit{
  display: inline-flex;
}
#names ol{
  color: #fff;
  background-color: rgb(0, 38, 255);
  width: 15%;
  border: 3px solid black;
  font-size: 150%;
  margin: 5px;
}
#names ol:hover{
  background-color:  rgb(0, 22, 148);
  box-shadow: 5px 5px #888888;
}
#highScores{
  text-align: -webkit-center;
  
}